@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    @screen md {
      font-size: 18px;
    }
    @screen xl {
      font-size: 20px;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hidden-path {
  visibility: hidden;
}
